#red-blotch, #orange-blotch, #yellow-blotch, #green-blotch, #blue-blotch{
    font-size: 3rem;
}

#red-blotch{
    color:#ff3131;
}

#orange-blotch{
    color:#ff914d;
}

#yellow-blotch{
    color:#f5d35a;
}

#green-blotch{
    color:#9ad486;
}

#blue-blotch{
    color:#a4ddff;
}

#red{
    text-shadow: 0 0 10px black;
}

#red, #orange, #yellow, #green, #blue, #squirrel1, #squirrel2, #squirrel3, #squirrel4{
    display: inline-block;
    margin-left: 15px;
}

#enterBurrowDetails{
    font-size: 1.2rem;
}

#newClassForm, #logInForm{
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 400px;
    height: auto;
    border: 10px solid #97d4fa;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

body {
    background-image: url(images/woodlandBackground.png);
    background-size: 100vw 100vh;
}

.buttonRow{
    padding-top: 15px;
    text-align: center;
}

.burrowCards {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: white;
    border: 10px solid #ff3131;
    border-radius: 20px;
    float: left;
}

.classHeaders{
    color: white;
    font-size: 16px;
    width: 150px;
    position: relative;
    bottom: 16px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 40px;
    word-wrap: break-word;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#squirrel1, #squirrel2, #squirrel3, #squirrel4{
    object-fit: cover;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

#squirrel1{
    border: 5px groove black;
}

/*Log In*/
#signUpMore{
    display: none;
}

/* #signUp{
    display: none;
} */

#email, #password, #signUp-Name, #signUp-Suffix {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
}

#enterMore{
    text-align: center;
}

#errorMessageLogin{
    display: none;
}

#overlay {
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    opacity: 80%;
    display: block;
}

#navPlusButton{
    visibility: visible;    
    display: block;
}
#navSignOutButton{
    visibility: visible;
    display: block;
}